<%= link_to '< Back', root_path %>
<%= form_for @article, :html => {:class => "sky-form sky-well"} do |f| %>
    <% if @article.errors.any? %>
        <div id="error_explanation">
          <p class="error"> Please address the <strong><%= pluralize(@article.errors.count, "error") %></strong>:</p>

          <% @article.errors.full_messages.each do |msg| %>
             <li class="error"><%= msg %></li>
            <% end %>
          <br>
        </div>
    <% end %>
    <div class="row">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>

    <div class="row">
      <%= f.label :text %>
      <%= f.text_area :text %>
    </div>

    <div class="row no-label">
      <button type="submit" class="btn primary">Submit</button>
    </div>
<% end %>